<html>
<head>
    <title>Rate</title>
</head>
<body>
    <h1>Rate</h1>
    <form action="/rate" method="post">
        <input type="hidden" value="<%=id%>" name="id"/>
	10=best 1=worst<br>
	<input type="text" name="rating" value="4"/>
	<input type="submit" value="rate"/>
    </form>
</body>
</html>
